body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 80%; /* Adjust max width as needed */
}

img {
    max-width: 100%;
    height: auto;
}
