body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

img {
    width: 80%;
    
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  img {
    width: 70%; 
  }
}
